{{ define "main" }}

    <article class="post">
        <header>
            <h1 class="post-title{{ if .Params.favorite }} favorite{{end}}">{{ trim .Title  " " }}</h1>
        </header>
        {{ if not .Params.notoc }}
        <aside>
            {{ .TableOfContents }}
        </aside>
        {{ end }}
        <div class="content">
            {{ .Content }}
        </div>
        {{ partial "post-info.html" . }}
    </article>

    {{ if .Site.Params.paginationSinglePost}}
        {{ partial "post-pagination.html" . }}
    {{ end }}

    {{ if .Site.DisqusShortname }}
        {{ template "_internal/disqus.html" . }}
    {{ end }}

{{ end }}
